<div class="helios-blog-card {{ class }}">
  <a href="{{ article.url }}" class="blog-card__image-link">
    <div class="blog-card__image-wrapper">
      {% if article.image %}
        <img 
          src="{{ article.image.src | image_url: width: 1000 }}" 
          alt="{{ article.title | escape }}" 
          loading="lazy" 
          width="1000" 
          height="{{ 1000 | divided_by: article.image.aspect_ratio | round }}"
          class="blog-card__image"
        >
      {% endif %}
    </div>
  </a>

  <div class="blog-card__content">
    <div class="blog-card__meta">
      <span class="blog-card__date">{{ article.published_at | date: "%d.%m.%Y" }}</span>
      <span class="blog-card__category">{{ article.tags | first }}</span>
    </div>
    
    <h3 class="blog-card__title">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
  </div>
</div>

