<section class="helios-blog-banner {{ class }}" data-cc-animate="fade-up">
  <a href="{{ article.url }}" class="banner__image-link">
    {% if article.image %}
      <img 
        src="{{ article.image.src | image_url: width: 2000 }}" 
        alt="{{ article.title | escape }}" 
        loading="lazy" 
        width="2000" 
<section class="helios-blog-banner {{ class }}" data-cc-animate="fade-up">
  <a href="{{ article.url }}" class="banner__image-link">
    {% if article.image %}
      <img 
        src="{{ article.image.src | image_url: width: 2000 }}" 
        alt="{{ article.title | escape }}" 
        loading="lazy" 
        width="2000" 
        height="{{ 2000 | divided_by: article.image.aspect_ratio | round }}"
        class="banner__image"
      >
    {% endif %}
  </a>
  
  <div class="banner__content">
    <h3 class="banner__title--small">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
    <div class="banner__highlight">
      {{ article.metafields.custom.highlight | default: article.excerpt_or_content | strip_html | truncatewords: 20 }}
    </div>
    <a href="{{ article.url }}" class="banner__link">Read more</a>
  </div>

</section>
